name: Code coverage

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11', '3.12']
    steps:
    - uses: actions/checkout@master
    - uses: pdm-project/setup-pdm@v3
      name: Install PDM
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'true'
    - name: Generate coverage report
      run: |
        pdm install
        pdm run pytest
        pdm run coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: coverage.xml
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
